.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 36px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;

  @include responsive() {
    flex-direction: column;
    height: auto;
  }
}

.container-item-1 {
  max-width: 406px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.w-auto {
  width: auto;
}

.spider-man {
  width: 125%;
  transform: translate3d(-100px, 0, 0);

  @include responsive() {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 3px;
  transform: skewX(-10deg);
  transition: 0.7s ease;
  text-transform: uppercase;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    display: block;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: 0.7s ease;

    border-top: 3px solid $white;
    border-left: 3px solid $white;

    border-radius: 3px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -2px;
    right: -2px;
    display: block;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: 0.7s ease;

    border-bottom: 3px solid $white;
    border-right: 3px solid $white;

    border-radius: 3px;
  }

  &:hover {
    transform: skewX(-10deg) scale(1.05);
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.btn-secundary {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  transform: skewX(-10deg);
  transition: 0.7s ease;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  border-radius: 3px;
  border: 2px solid $red;
  z-index: 10;
  margin-left: 8px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;

    width: 0%;
    height: 105%;
    transition: 0.7s ease;

    background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  }

  &:hover {
    transform: skewX(-10deg) scale(1.05); //olhar o que aconteceu
    &::after {
      width: 101%;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background: linear-gradient(
      90deg,
      #0b0c10 23.96%,
      rgba(11, 12, 16, 0.8) 54.09%,
      #0c0c10 77.6%
    );
  }
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: linear-gradient(225deg, $red 0%, $red-dark 100%);
}
