.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 36px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.container-item-1 {
  max-width: 406px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-item-2 {
}

.spider-man {
  width: 150%;
  transform: translate3d(-150px, 0, 0);
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 3px;
  transform: skewX(-10deg);
  transition: 0.7s ease;
  text-transform: uppercase;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    display: block;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: 0.7s ease;

    border-top: 3px solid $white;
    border-left: 3px solid $white;

    border-radius: 3px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -2px;
    right: -2px;
    display: block;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: 0.7s ease;

    border-bottom: 3px solid $white;
    border-right: 3px solid $white;

    border-radius: 3px;
  }

  &:hover {
    transform: skewX(-10deg) scale(1.05);
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.btn-secundary {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  transform: skewX(-10deg);
  transition: 0.7s ease;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  border-radius: 3px;
  border: 2px solid $red;
  z-index: 10;
  margin-left: 8px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;

    width: 0%;
    height: 101%;
    transition: 0.7s ease;

    background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  }

  &:hover {
    &::after {
      width: 101%;
    }
  }
}
